body {
  font-family: poppins, sans-serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/heroBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  text-align: center;
  padding: 100px 0px;
}
header h3 {
  font-size: 40px;
  margin: 0;
  padding: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
header h1 {
  font-size: 82px;
  line-height: 1;
  margin: 0;
  letter-spacing: 2px;
  padding-top: 30px;
}
header h2 {
  font-size: 32px;
}

header a {
  background-color: white;
  color: black;
  padding: 15px 30px;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.sec1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
 margin: 0 auto;
}
.responsiveImg {
  width: 100%;

  display: block;
}
.sec1 h3 {
  letter-spacing: 5px;
  opacity: 0.3;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}
.sec1 h1 {
  font-size: 36px;
  margin: 0;
}
.sec1 p {
  line-height: 1.5;
  opacity: 0.6;
  font-size: 18px;
}
.sec2-header {
  text-align: center;
}
.sec2 {
  max-width: 100%;
  background-color: #f8f8f8;
}
.sec2 h3 {
  letter-spacing: 5px;
  opacity: 0.3;
  font-size: 20px;
  line-height: 1.5;
  display: block;
  margin: 0;
}
.sec2 h1 {
  font-size: 36px;
  margin: 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 60px;
}
.card-body h2 {
  font-size: 24px;
}
.card-body h4 {
  font-size: 16px;
}
.card-body h5 {
  font-size: 20px;
  opacity: 0.4;
}
.card-body p {
  line-height: 1.5;
  opacity: 0.6;
  font-size: 18px;
}
.btn {
  display: block;
  color: white;
  background-color: rgb(63, 63, 192);
  font-size: 18px;
  padding: 15px 30px;
  margin: 35px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: navajowhite;
}
.card {
  background-color: white;
}
.cardHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-body {
  padding: 40px;
}

.sec3-header {
  text-align: center;
}
.sec3-header h2 {
  font-size: 32px;
  line-height: 1.5;
  display: block;
  margin: 0;
  padding: 35px;
}
.sec3-header h3 {
  padding: 15px;
  letter-spacing: 5px;
  opacity: 0.3;
  font-size: 20px;
  line-height: 1.5;
  display: block;
  margin: 0;
}
.sec3 {
  max-width: 100%;
  
}
.sec3 img{
  width: 100%;
  height: 100%;
}
.sec3-body{
  padding: 30px;
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}



footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/footerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-sec {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 64px;
  margin: 0 auto;
}

footer h3 {
  font-size: 36px;
  color: white;
}
footer p {
  font-size: 24px;
  color: white;
  opacity: 0.6;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  color: white;
  list-style: none;
  opacity: 0.6;
  padding: 5px;
}
footer a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
}

@media (max-width: 960px) {
  header {
    padding: 50px 0;
  }
  header h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 16px;
  }
  header h3 {
    font-size: 20px 0;
  }
  footer {
    padding: 30px;
  }
  .footer-sec {
    margin: 5px 0;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .img1 {
    display: none;
  }
  .sec1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 100px 60px;
  }
  .sec1 h3 {
    text-align: center;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: 20px;
  }

  .embed {
    height: 100%;
    aspect-ratio: 16/9;
  }
  .cardHeader {
    grid-template-columns: 1fr 1fr;
  }
}
